.logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  &--square {
    background: #f26c4b;
    width: 11px;
    height: 11px;
    border-radius: 25%;
  }
  &--text {
    color: $primary-text;
    padding-left: 3px;
    font-size: 16px;
    font-family: "Nunito Extra Bold", sans-serif;
  }
}
